server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: admin
    password: admin

#eureka:
#  client:
#    serviceUrl:
#      # Point to your Eureka Server
#      defaultZone: http://localhost:8761/eureka/

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Kolkata
  sql:
    init:
      mode: always
