server:
  port: 8085

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://auth-service:8081
              predicates:
                - Path=/auth/**

            - id: user-service
              uri: http://user-service:8082
              predicates:
                - Path=/users/**
                # add JwtAuthFilter here if you implement it

            - id: product-service
              uri: http://product-service:8083
              predicates:
                - Path=/products/**
                # add JwtAuthFilter here if you implement it

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG

